
#top-row, #second-row, #third-row, #fourth-row, #fifth-row, #sixth-row, #bottom-row {
    display: flex;
    flex-direction: row;
}
.left, .right {
    flex: 1 1 50%;
    margin: auto 10px;
}
#page-title {
    margin: 0 5.7%;
}
#second-row, #fourth-row, #sixth-row {
    background-color: #9DD6D4;
    color: white;
}
.white {
    color: white;
}

